In [1]:
import copy
import io
import os
import requests
import uuid
from datetime import datetime
from random import sample
from time import sleep
from typing import Tuple
from xml.etree import ElementTree as ET
import json
import pandas as pd
import pytz
import numpy as np
from PIL import Image
from io import BytesIO
import base64

In [2]:
old_form_df1 = pd.read_excel('aHuaFu4bdnJ36vR8TYet8x.xlsx', sheet_name='survey')
old_form_df1

,type,name,label::Nepali (ne),label::English (en),hint::Nepali (ne),hint::English (en),required,parameters,appearance,choice_filter,constraint,relevant,calculation
0,start,start,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,end,end,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,note,_span_style_color_red_span,घरमुलीको ब्यक्तिगत विवरण,"<span style=""color:red;"">1. Head of the family...",NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN
3,text,Full_Name,पुरा नाम,Full Name,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
4,text,Full_Name_in_Block_Letter,ब्लकमा पूरा नाम,Full Name in Block Letter,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
343,calculate,_version__001,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,'vE7SCMtZPjYyRXbpKG7w4m'
344,calculate,_version__002,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,'vsVbee6bQpXFhJTeQPCQht'
345,calculate,_version__003,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,'vg9yF5T4pYAXDcg54xHvS6'
346,calculate,_version__004,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,'v8D8TArSV88x82iVmapdGh'
347,calculate,_version__005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,'vAfX2ARcAfbFKg6Z27BKbJ'

In [3]:
old_form_df2 = pd.read_excel('aHuaFu4bdnJ36vR8TYet8x.xlsx', sheet_name='choices')
old_form_df2

,list_name,name,label::Nepali (ne),label::English (en),Province,District,order
0,Province,1,प्रदेश १,Province One,NaN,NaN,NaN
1,Province,2,प्रदेश २,Province Two,NaN,NaN,NaN
2,Province,3,बागमती प्रदेश,Bagmati Province,NaN,NaN,NaN
3,Province,4,गण्डकी प्रदेश,Gandaki Province,NaN,NaN,NaN
4,Province,5,प्रदेश ५,Province Five,NaN,NaN,NaN
...,...,...,...,...,...,...,...
1930,al9cj52,___1,पुरुष सदस्य,पुरुष सदस्य,NaN,NaN,NaN
1931,al9cj52,_,सामुहिक,सामुहिक,NaN,NaN,NaN
1932,al9cj52,_3652,छैन,छैन,NaN,NaN,NaN
1933,fl65i91,__,भएको छैन,भएको छैन,NaN,NaN,NaN
1934,fl65i91,___1,भएको छ,भएको छ,NaN,NaN,NaN

In [4]:
new_form_df1 = pd.read_excel('audvtLhMwXSVHKceu8TDuD.xlsx', sheet_name='survey')
new_form_df1

,type,name,label::Nepali (ne),label::English (en),hint::Nepali (ne),hint::English (en),required,parameters,appearance,choice_filter,constraint,relevant,calculation,$given_name
0,start,start,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,end,end,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,note,_span_style_color_red_span,घरमुलीको ब्यक्तिगत विवरण,"<span style=""color:red;"">1. Head of the family...",NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,text,Full_Name,पुरा नाम,Full Name,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,text,Full_Name_in_Block_Letter,ब्लकमा पूरा नाम,Full Name in Block Letter,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,text,__111,६०. करदाताको रुपमा दर्ता हुनुभएको छ भने करदाता...,६०. करदाताको रुपमा दर्ता हुनुभएको छ भने करदाता...,NaN,NaN,False,NaN,NaN,NaN,NaN,${__009} = '___1',NaN,NaN
340,image,__112,औंठा छाप (बायाँ),औंठा छाप (बायाँ),NaN,NaN,False,max-pixels=1024,NaN,NaN,NaN,NaN,NaN,NaN
341,image,__113,औंठा छाप (दायाँ),औंठा छाप (दायाँ),NaN,NaN,False,max-pixels=1024,NaN,NaN,NaN,NaN,NaN,NaN
342,calculate,__version__,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,'v9C9GWtaM7FYZpk5gvtby4',NaN
343,calculate,_version_,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,'vSTM2GySrVavtiFgT7s8Az',__version__

In [5]:
new_form_df2 = pd.read_excel('audvtLhMwXSVHKceu8TDuD.xlsx', sheet_name='choices')
new_form_df2

,list_name,name,label::Nepali (ne),label::English (en),Province,District,order
0,Province,प्रदेश १,प्रदेश १,Province One,NaN,NaN,NaN
1,Province,प्रदेश २,प्रदेश २,Province Two,NaN,NaN,NaN
2,Province,बागमती प्रदेश,बागमती प्रदेश,Bagmati Province,NaN,NaN,NaN
3,Province,गण्डकी प्रदेश,गण्डकी प्रदेश,Gandaki Province,NaN,NaN,NaN
4,Province,प्रदेश ५,प्रदेश ५,Province Five,NaN,NaN,NaN
...,...,...,...,...,...,...,...
1936,al9cj52,पुरुष सदस्य,पुरुष सदस्य,पुरुष सदस्य,NaN,NaN,NaN
1937,al9cj52,सामुहिक,सामुहिक,सामुहिक,NaN,NaN,NaN
1938,al9cj52,छैन,छैन,छैन,NaN,NaN,NaN
1939,fl65i91,भएको छैन,भएको छैन,भएको छैन,NaN,NaN,NaN
1940,fl65i91,भएको छ,भएको छ,भएको छ,NaN,NaN,NaN

In [6]:
old_select_ones = [{'type':old_form_df1['type'][i], 'select_type': old_form_df1['type'][i].split()[0], 'sel_col_value': old_form_df1['type'][i].split()[1], 'name': old_form_df1['name'][i], 'label': old_form_df1['label::Nepali (ne)'][i]} for i in range(len(old_form_df1)) if (old_form_df1['type'][i].startswith('select_one')) | (old_form_df1['type'][i].startswith('select_multiple')) ]

In [7]:
old_select_ones_df = pd.DataFrame(old_select_ones)
old_select_ones_df

,type,select_type,sel_col_value,name,label
0,select_one Province,select_one,Province,Province,प्रदेश
1,select_one District,select_one,District,District_001,जिल्ला
2,select_one Municipality,select_one,Municipality,Municipality,नगरपालिका
3,select_one vt1zz96,select_one,vt1zz96,_,घर नम्बर छ कि छैन?
4,select_one cz2jk72,select_one,cz2jk72,__001,टोल विकास संस्थामा आवद्ध हो कि हैन?
...,...,...,...,...,...
125,select_one sc2la54,select_one,sc2la54,__106,घरायसी काममा संलग्न
126,select_one ig15u66,select_one,ig15u66,__107,बैँकमा खाता सञ्चालन
127,select_one ht9sq98,select_one,ht9sq98,__109,विद्यालय व्यवस्थापन समितिमा सहभागिता
128,select_one al9cj52,select_one,al9cj52,__110,उद्योग व्यापारमा सहभागिता
129,select_one fl65i91,select_one,fl65i91,_009_002,५९. तपाई पालिकामा करदाताको रुपमा दर्ता हुनुभएक...

In [8]:
new_select_ones = [{'type':new_form_df1['type'][i], 'select_type': new_form_df1['type'][i].split()[0], 'sel_col_value': new_form_df1['type'][i].split()[1], 'name': new_form_df1['name'][i]} for i in range(len(new_form_df1)) if new_form_df1['type'][i].startswith('select_one')]

In [9]:
new_select_ones_df = pd.DataFrame(new_select_ones)
new_select_ones_df

                        type select_type sel_col_value          name
0        select_one Province  select_one      Province      Province
1        select_one District  select_one      District  District_001
2    select_one Municipality  select_one  Municipality  Municipality
3         select_one vt1zz96  select_one       vt1zz96             _
4         select_one cz2jk72  select_one       cz2jk72         __001
..                       ...         ...           ...           ...
118       select_one sc2la54  select_one       sc2la54         __106
119       select_one ig15u66  select_one       ig15u66         __107
120       select_one ht9sq98  select_one       ht9sq98         __109
121       select_one al9cj52  select_one       al9cj52         __110
122       select_one fl65i91  select_one       fl65i91      _009_002

[123 rows x 4 columns]

In [10]:
new_select_ones_df.columns

Index(['type', 'select_type', 'sel_col_value', 'name'], dtype='object')

In [11]:
form_value_table = []
for i in range(len(old_select_ones_df)):
    col_value = old_select_ones_df['sel_col_value'][i]
    col_choices_df = old_form_df2[old_form_df2['list_name'] == col_value]
    for j in col_choices_df.index:
        form_value_table.append({
            'type': old_select_ones_df["type"][i],
            'select_type': old_select_ones_df["select_type"][i],
            'list_name': old_select_ones_df["sel_col_value"][i],
            'name': old_select_ones_df["name"][i],
            'label': old_select_ones_df["label"][i],
            'choices_old_name': old_form_df2["name"][j],
            'choices_new_name': old_form_df2["label::Nepali (ne)"][j],
        })

In [12]:
form_value_table = pd.DataFrame(form_value_table)
form_value_table

,type,select_type,list_name,name,label,choices_old_name,choices_new_name
0,select_one Province,select_one,Province,Province,प्रदेश,1,प्रदेश १
1,select_one Province,select_one,Province,Province,प्रदेश,2,प्रदेश २
2,select_one Province,select_one,Province,Province,प्रदेश,3,बागमती प्रदेश
3,select_one Province,select_one,Province,Province,प्रदेश,4,गण्डकी प्रदेश
4,select_one Province,select_one,Province,Province,प्रदेश,5,प्रदेश ५
...,...,...,...,...,...,...,...
2136,select_one al9cj52,select_one,al9cj52,__110,उद्योग व्यापारमा सहभागिता,___1,पुरुष सदस्य
2137,select_one al9cj52,select_one,al9cj52,__110,उद्योग व्यापारमा सहभागिता,_,सामुहिक
2138,select_one al9cj52,select_one,al9cj52,__110,उद्योग व्यापारमा सहभागिता,_3652,छैन
2139,select_one fl65i91,select_one,fl65i91,_009_002,५९. तपाई पालिकामा करदाताको रुपमा दर्ता हुनुभएक...,__,भएको छैन
2140,select_one fl65i91,select_one,fl65i91,_009_002,५९. तपाई पालिकामा करदाताको रुपमा दर्ता हुनुभएक...,___1,भएको छ

In [13]:
f = open('palata_whole_data.json')
palata_data_json = json.load(f)

In [14]:
palata_data = palata_data_json['results']

In [15]:
palata_data_df = pd.DataFrame(palata_data)
palata_data_df

,_id,formhub/uuid,start,end,Full_Name,Full_Name_in_Block_Letter,Photo,__006,_006_003,__007,...,__070,_059,_065,_635,_1212,_038,__080,__009,__082,__087
0,3,7fc2ecea664d43909afdefd37a1f3074,2023-01-22T11:14:33.065+05:45,2023-01-22T12:40:14.650+05:45,सर्जन बि क,SARJAN B K,1674365422453.jpg,परि बि क,कालि बि क,देउसिगे कामि,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5,7fc2ecea664d43909afdefd37a1f3074,2023-01-22T12:28:23.760+05:45,2023-01-22T13:41:40.404+05:45,पदम बुढा,पदम बुढा,1674369900109.jpg,नैने बुढा,झिमु बुढा,प्रदिपे बुढा,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7,7fc2ecea664d43909afdefd37a1f3074,2023-01-23T07:41:27.409+05:45,2023-01-23T08:30:15.736+05:45,जीब बहादुर बम,जीब बहादुर बम,1674439081459.jpg,भिम बहादुर बम,सुबिस्ता बम,दल बहादुर बम,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8,7fc2ecea664d43909afdefd37a1f3074,2023-01-22T13:25:41.143+05:45,2023-01-22T14:40:24.775+05:45,धन बहादुर बम,धन बहादुर बम,1674373307452.jpg,कुष्ण बहादुर बम,पाटकला बम,कण बहादुर बम,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9,7fc2ecea664d43909afdefd37a1f3074,2023-01-23T08:46:09.963+05:45,2023-01-23T09:23:06.357+05:45,मदन बुढा,मदन बुढा,NaN,काजि बुढा,पाटकला बुढा,पर्दिपे बुढा,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2573,2906,7fc2ecea664d43909afdefd37a1f3074,2023-06-11T06:47:08.627+05:45,2023-06-11T07:20:57.531+05:45,ज्ञान बहादुर बुढा,GYANA BUDHA,1686447353240.jpg,बिर्ख बुढा,मैना बुढा,जयलाल बुढा,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2574,2907,7fc2ecea664d43909afdefd37a1f3074,2023-06-11T07:23:08.093+05:45,2023-06-11T07:40:41.713+05:45,परेजित बुढा,PAREJIT BUDHA,1686448535450.jpg,चैते बुढा,बन्कला बुढा,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2575,2908,7fc2ecea664d43909afdefd37a1f3074,2023-06-11T08:23:08.682+05:45,2023-06-11T08:43:17.324+05:45,रेसम्कला न्यौपाने,RESAMKALA NEUPANE,1686452294331.jpg,दिप प्यकुरेल,रत्ना प्यकुरेल,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2576,2909,7fc2ecea664d43909afdefd37a1f3074,2023-06-11T12:22:51.889+05:45,2023-06-11T12:45:20.284+05:45,मनसा न्यौपाने .,MANASA NEUPANE,1686466816337.jpg,रुपलाल न्यौपाने,सुन्तला न्यौपाने,जयलाल न्यौपाने,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2577,2910,7fc2ecea664d43909afdefd37a1f3074,2023-06-07T06:48:01.168+05:45,2023-06-07T07:06:39.936+05:45,बिर्ख राज न्यौपाने,BIRKHA RAJ NEUPANE,1686100896652.jpg,बिर्जेत न्यौपाने,छैता न्यौपाने,सुवाने न्यौपाने,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# groups_column = []
# for col in palata_data_df.columns:
#     if (col.startswith('group')) & (len(col.split('/')) == 1):
#         groups_column.append(col)
# print(groups_column)

In [17]:
# palata_data_df['group_th4ik74'][0]

In [18]:
for i in range(len(palata_data_df)):
    for col in palata_data_df.columns:
        if (col.startswith('group')) & (len(col.split('/')) == 1):
            if type(palata_data_df[col][i]) == list:
                for j in range(len(palata_data_df[col][i])):
                    for k, v in palata_data_df[col][i][j].items():
                        key = k.split('/')[-1]
                        form_masking = form_value_table[form_value_table['name'] == key]
                        if len(form_masking) != 0:
                            if form_masking['select_type'][form_masking.index[0]] == 'select_multiple':
                                multi_choices = []
                                value = v if v is not np.nan else ''
                                for val in value.split():
                                    final_row = form_masking[form_masking['choices_old_name'] == val]
                                    multi_choices.append(final_row['choices_new_name'][final_row.index[0]])
                                final_text = ' '.join(multi_choices)
                                palata_data_df[col][i][j][k] = final_text
                                
                            else:
                                final_row = form_masking[form_masking['choices_old_name'] == v]
                                try:
                                    palata_data_df[col][i][j][k] = final_row['choices_new_name'][final_row.index[0]]
                                except:
                                    pass
        else:
            key = col.split('/')
            value = palata_data_df[col][i]
            if value is not np.nan:
                form_masking = form_value_table[form_value_table['name'] == key[-1]]
                if len(form_masking) != 0:
                    if form_masking['select_type'][form_masking.index[0]] == 'select_multiple':
                        multi_choices = []
                        for val in value.split():
                            final_row = form_masking[form_masking['choices_old_name'] == val]
                            multi_choices.append(final_row['choices_new_name'][final_row.index[0]])
                        final_text = ' '.join(multi_choices)
                        palata_data_df[col][i] = final_text
                    else:
                        final_row = form_masking[form_masking['choices_old_name'] == value]
                        try:
                            palata_data_df[col][i] = final_row['choices_new_name'][final_row.index[0]]
                        except:
                            pass

/tmp/ipykernel_6854/1349709257.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  palata_data_df[col][i] = final_row['choices_new_name'][final_row.index[0]]
/tmp/ipykernel_6854/1349709257.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  palata_data_df[col][i] = final_text

In [19]:
# palata_data_df['group_th4ik74'][0]

In [20]:
palata_data_df

,_id,formhub/uuid,start,end,Full_Name,Full_Name_in_Block_Letter,Photo,__006,_006_003,__007,...,__070,_059,_065,_635,_1212,_038,__080,__009,__082,__087
0,3,7fc2ecea664d43909afdefd37a1f3074,2023-01-22T11:14:33.065+05:45,2023-01-22T12:40:14.650+05:45,सर्जन बि क,SARJAN B K,1674365422453.jpg,परि बि क,कालि बि क,देउसिगे कामि,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5,7fc2ecea664d43909afdefd37a1f3074,2023-01-22T12:28:23.760+05:45,2023-01-22T13:41:40.404+05:45,पदम बुढा,पदम बुढा,1674369900109.jpg,नैने बुढा,झिमु बुढा,प्रदिपे बुढा,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7,7fc2ecea664d43909afdefd37a1f3074,2023-01-23T07:41:27.409+05:45,2023-01-23T08:30:15.736+05:45,जीब बहादुर बम,जीब बहादुर बम,1674439081459.jpg,भिम बहादुर बम,सुबिस्ता बम,दल बहादुर बम,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8,7fc2ecea664d43909afdefd37a1f3074,2023-01-22T13:25:41.143+05:45,2023-01-22T14:40:24.775+05:45,धन बहादुर बम,धन बहादुर बम,1674373307452.jpg,कुष्ण बहादुर बम,पाटकला बम,कण बहादुर बम,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9,7fc2ecea664d43909afdefd37a1f3074,2023-01-23T08:46:09.963+05:45,2023-01-23T09:23:06.357+05:45,मदन बुढा,मदन बुढा,NaN,काजि बुढा,पाटकला बुढा,पर्दिपे बुढा,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2573,2906,7fc2ecea664d43909afdefd37a1f3074,2023-06-11T06:47:08.627+05:45,2023-06-11T07:20:57.531+05:45,ज्ञान बहादुर बुढा,GYANA BUDHA,1686447353240.jpg,बिर्ख बुढा,मैना बुढा,जयलाल बुढा,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2574,2907,7fc2ecea664d43909afdefd37a1f3074,2023-06-11T07:23:08.093+05:45,2023-06-11T07:40:41.713+05:45,परेजित बुढा,PAREJIT BUDHA,1686448535450.jpg,चैते बुढा,बन्कला बुढा,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2575,2908,7fc2ecea664d43909afdefd37a1f3074,2023-06-11T08:23:08.682+05:45,2023-06-11T08:43:17.324+05:45,रेसम्कला न्यौपाने,RESAMKALA NEUPANE,1686452294331.jpg,दिप प्यकुरेल,रत्ना प्यकुरेल,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2576,2909,7fc2ecea664d43909afdefd37a1f3074,2023-06-11T12:22:51.889+05:45,2023-06-11T12:45:20.284+05:45,मनसा न्यौपाने .,MANASA NEUPANE,1686466816337.jpg,रुपलाल न्यौपाने,सुन्तला न्यौपाने,जयलाल न्यौपाने,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2577,2910,7fc2ecea664d43909afdefd37a1f3074,2023-06-07T06:48:01.168+05:45,2023-06-07T07:06:39.936+05:45,बिर्ख राज न्यौपाने,BIRKHA RAJ NEUPANE,1686100896652.jpg,बिर्जेत न्यौपाने,छैता न्यौपाने,सुवाने न्यौपाने,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
improved_palata_data_df = palata_data_df.drop(['_id', '_geolocation', '_tags', '_notes'], axis=1)
improved_palata_data_df

,formhub/uuid,start,end,Full_Name,Full_Name_in_Block_Letter,Photo,__006,_006_003,__007,__008,...,__070,_059,_065,_635,_1212,_038,__080,__009,__082,__087
0,7fc2ecea664d43909afdefd37a1f3074,2023-01-22T11:14:33.065+05:45,2023-01-22T12:40:14.650+05:45,सर्जन बि क,SARJAN B K,1674365422453.jpg,परि बि क,कालि बि क,देउसिगे कामि,रिललि कामि,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7fc2ecea664d43909afdefd37a1f3074,2023-01-22T12:28:23.760+05:45,2023-01-22T13:41:40.404+05:45,पदम बुढा,पदम बुढा,1674369900109.jpg,नैने बुढा,झिमु बुढा,प्रदिपे बुढा,काली बुढा,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7fc2ecea664d43909afdefd37a1f3074,2023-01-23T07:41:27.409+05:45,2023-01-23T08:30:15.736+05:45,जीब बहादुर बम,जीब बहादुर बम,1674439081459.jpg,भिम बहादुर बम,सुबिस्ता बम,दल बहादुर बम,बेलपुरा बम,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7fc2ecea664d43909afdefd37a1f3074,2023-01-22T13:25:41.143+05:45,2023-01-22T14:40:24.775+05:45,धन बहादुर बम,धन बहादुर बम,1674373307452.jpg,कुष्ण बहादुर बम,पाटकला बम,कण बहादुर बम,सरिना बम,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7fc2ecea664d43909afdefd37a1f3074,2023-01-23T08:46:09.963+05:45,2023-01-23T09:23:06.357+05:45,मदन बुढा,मदन बुढा,NaN,काजि बुढा,पाटकला बुढा,पर्दिपे बुढा,लालकला बुढा,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2573,7fc2ecea664d43909afdefd37a1f3074,2023-06-11T06:47:08.627+05:45,2023-06-11T07:20:57.531+05:45,ज्ञान बहादुर बुढा,GYANA BUDHA,1686447353240.jpg,बिर्ख बुढा,मैना बुढा,जयलाल बुढा,दन्त कला बुढा,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2574,7fc2ecea664d43909afdefd37a1f3074,2023-06-11T07:23:08.093+05:45,2023-06-11T07:40:41.713+05:45,परेजित बुढा,PAREJIT BUDHA,1686448535450.jpg,चैते बुढा,बन्कला बुढा,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2575,7fc2ecea664d43909afdefd37a1f3074,2023-06-11T08:23:08.682+05:45,2023-06-11T08:43:17.324+05:45,रेसम्कला न्यौपाने,RESAMKALA NEUPANE,1686452294331.jpg,दिप प्यकुरेल,रत्ना प्यकुरेल,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2576,7fc2ecea664d43909afdefd37a1f3074,2023-06-11T12:22:51.889+05:45,2023-06-11T12:45:20.284+05:45,मनसा न्यौपाने .,MANASA NEUPANE,1686466816337.jpg,रुपलाल न्यौपाने,सुन्तला न्यौपाने,जयलाल न्यौपाने,जदेनी न्यौपाने,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2577,7fc2ecea664d43909afdefd37a1f3074,2023-06-07T06:48:01.168+05:45,2023-06-07T07:06:39.936+05:45,बिर्ख राज न्यौपाने,BIRKHA RAJ NEUPANE,1686100896652.jpg,बिर्जेत न्यौपाने,छैता न्यौपाने,सुवाने न्यौपाने,ईन्दसरा न्यौपाने,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN



Uncomment to export the data into json file

In [22]:
# palata_data_df.to_json('palata_improved_data.json', orient='records', indent=4)


# Starting Form Filling

In [23]:
TOKEN = '77d7d9c178e92e4abbb88793f6de7ca9eeef2b68'

In [24]:
KC_URL = 'https://kobocat.qbitsx.com'
KF_URL = 'https://koboform.qbitsx.com'

# ASSET_UID = 'aTYi4QmnpvzWcoRWzkLJ8q'
ASSET_UID = 'aYggxbvE26ZHqdBMLdxcER'

DATA_URL = f'{KF_URL}/api/v2/assets/{ASSET_UID}/data'
XML_URL = f'{DATA_URL}.xml'
SUMISSION_URL = f'{KC_URL}/api/v1/submissions'

HEADERS = {
    'Authorization': f'Token {TOKEN}'
}
PARAMS = {
    'format': 'json',
}

In [25]:
# Get the template from form network payload
xml_tmp = """<aYggxbvE26ZHqdBMLdxcER xmlns:jr="http://openrosa.org/javarosa" xmlns:odk="http://www.opendatakit.org/xforms" xmlns:orx="http://openrosa.org/xforms" id="aYggxbvE26ZHqdBMLdxcER" version="vuLpWNFaNCGtpGTSu28wDs">
          <formhub>
            <uuid>d6dab6a61eb34d2baaaf1d404d7805bc</uuid>
          </formhub>
          <start></start>
          <end></end>
          <_span_style_color_red_span/>
          <Full_Name></Full_Name>
          <Full_Name_in_Block_Letter></Full_Name_in_Block_Letter>
          <Photo></Photo>
          <__006></__006>
          <_006_003></_006_003>
          <__007></__007>
          <__008></__008>
          <_span_style_color_red_span_001/>
          <Province></Province>
          <District_001></District_001>
          <Municipality></Municipality>
          <__114></__114>
          <_></_>
          <__009/>
          <GPS_Location></GPS_Location>
          <__001/>
          <_span_style_color_red_span_002/>
          <__002/>
          <_span_style_color_red_span_003/>
          <__003></__003>
          <group_th4ik74>
            <_firstname></_firstname>
            <__010></__010>
            <__014></__014>
            <Full_Name_in_Block_Letter_001></Full_Name_in_Block_Letter_001>
            <__015></__015>
            <Relationship_with_the_head></Relationship_with_the_head>
            <Birth_date_year></Birth_date_year>
            <__016></__016>
            <__004/>
            <_mobilenumber></_mobilenumber>
            <__021></__021>
            <caste></caste>
            <Religion></Religion>
            <Mother_Tongue/>
            <group_rq1lx32>
              <__022/>
            </group_rq1lx32>
            <_001></_001>
            <group_af6qu72>
            </group_af6qu72>
            <_005></_005>
            <_007></_007>
            <group_qt87p58>
              <__047></__047>
              <__048></__048>
              <__049/>
            </group_qt87p58>
            <__051></__051>
            <__058></__058>
            <_008></_008>
            <__065/>
            <__066/>
            <__067></__067>
          </group_th4ik74>
          <_022_001></_022_001>
          <group_ge9ry75>
            <_002_001></_002_001>
            <_003_001></_003_001>
            <_004/>
            <_005_001></_005_001>
            <_006_001/>
            <_009_001/>
          </group_ge9ry75>
          <_023></_023>
          <_024></_024>
          <_025></_025>
          <_026></_026>
          <_029></_029>
          <_011_001/>
          <_012_001/>
          <_013></_013>
          <__068></__068>
          <group_ly7oc02>
            <_014></_014>
          </group_ly7oc02>
          <_015></_015>
          <_span_style_color_red_span_004/>
          <group_uj5xx40>
            <_016/>
            <_017></_017>
            <_018></_018>
            <_019></_019>
            <_020></_020>
            <_021></_021>
            <_030/>
            <_031></_031>
            <_032></_032>
            <_033></_033>
            <_034></_034>
            <_035></_035>
          </group_uj5xx40>
          <_001_001></_001_001>
          <_037></_037>
          <group_it9xw90>
            <_039/>
            <_040></_040>
            <_041></_041>
            <_042></_042>
            <_043></_043>
            <_043_002></_043_002>
            <_045></_045>
            <_046/>
            <_047></_047>
            <Floor_Area_Ratio></Floor_Area_Ratio>
          </group_it9xw90>
          <group_tz3jl07>
            <_10></_10>
          </group_tz3jl07>
          <_222></_222>
          <_001_002/>
          <_002_002></_002_002>
          <_635/>
          <_003_002/>
          <_004_001/>
          <__005></__005>
          <_125937></_125937>
          <_03254></_03254>
          <_4578453123123></_4578453123123>
          <__013></__013>
          <group_mz42f71>
            <_014512></_014512>
            <_12454545></_12454545>
            <_52012></_52012>
            <_12054></_12054>
            <_2155878></_2155878>
            <_212544></_212544>
            <_545121></_545121>
            <_45456876754></_45456876754>
          </group_mz42f71>
          <_version>vA4mHSLfNc8sXR4SFHtkL2</_version>
          <_span_style_color_red_span_005/>
          <_020_001></_020_001>
          <_021_001></_021_001>
          <_022_002></_022_002>
          <_023_001></_023_001>
          <_024_001></_024_001>
          <_025_001></_025_001>
          <_026_001></_026_001>
          <_027_001></_027_001>
          <group_bg5mz43>
            <_028_001></_028_001>
            <_029_001></_029_001>
          </group_bg5mz43>
          <group_hz7un93>
            <_030_001></_030_001>
            <_031_001></_031_001>
          </group_hz7un93>
          <group_ia4id04>
            <_032_001></_032_001>
            <_033_001></_033_001>
            <_034_001></_034_001>
          </group_ia4id04>
          <_035_001></_035_001>
          <__055/>
          <__057></__057>
          <_span_style_color_re_span/>
          <group_pa6pl43>
            <__069></__069>
            <_036_001></_036_001>
            <_037_001></_037_001>
          </group_pa6pl43>
          <group_qj1gh13>
            <_001_002_001/>
            <_039_001></_039_001>
          </group_qj1gh13>
          <group_gf0xy16>
            <_002_002_001/>
            <_041_001></_041_001>
          </group_gf0xy16>
          <group_xu2zb14>
            <_003_002_001></_003_002_001>
            <_042_001></_042_001>
            <_043_001></_043_001>
          </group_xu2zb14>
          <group_ea6yb02>
            <_004_001_001></_004_001_001>
            <_045_001></_045_001>
          </group_ea6yb02>
          <group_tb47x92>
            <_005_002></_005_002>
            <_046_001></_046_001>
            <_047_001></_047_001>
          </group_tb47x92>
          <group_ms8nf69>
            <_006_002></_006_002>
            <_049></_049>
          </group_ms8nf69>
          <_010_002/>
          <_span_style_color_re_span_001/>
          <_017_001></_017_001>
          <_018_001/>
          <_019_001></_019_001>
          <__087/>
          <__088/>
          <_span_style_color_re_span_002/>
          <__089></__089>
          <__090></__090>
          <__091></__091>
          <__092></__092>
          <__093></__093>
          <__094/>
          <group_wp5pw73>
            <__095></__095>
            <__096></__096>
            <__097></__097>
          </group_wp5pw73>
          <__098></__098>
          <_008_002></_008_002>
          <__100/>
          <__101/>
          <__102></__102>
          <_007_002/>
          <_span_style_color_re_span_003/>
          <__105></__105>
          <__106></__106>
          <__107></__107>
          <__109></__109>
          <__110></__110>
          <_009_002/>
          <__112></__112>
          <__113></__113>
          <__version__>v9C9GWtaM7FYZpk5gvtby4</__version__>
          <_version_>vSTM2GySrVavtiFgT7s8Az</_version_>
          <_version__001>vuLpWNFaNCGtpGTSu28wDs</_version__001>
          <meta>
            <instanceID></instanceID>
          </meta>
        </aYggxbvE26ZHqdBMLdxcER>"""

In [26]:
xml_template = xml_tmp.split("\n")
xml_tmplt = ''.join(xml_template)
# xml_tmplt

In [27]:
template = ET.fromstring(xml_tmplt)
template

In [28]:
escape_columns = ['_id',
                  'formhub/uuid',
                  'start',
                  'end',
                  '_attachments',
                  '_version',
                  '__version__',
                  '_version_',
                  '_version__001',
                  '_version__002',
                  '_version__003',
                  '_version__004',
                  '_version__005',
                  'meta/instanceID',
                  '_xform_id_string',
                  '_uuid',
                  '_submitted_by',
                  '_validation_status',
                  '_submission_time',
                  '_status submitted_via_web',
                 ]

In [29]:
# ET.tostring(template).decode()

In [30]:
def return_formated_xml(col, val):
    col = col.split('/')
    forward = []
    backward = []
    for c in col:
        forward.append(f"<{c}>")
        backward.append(f"</{c}>")
    final_str = ''.join(forward) + val + ''.join(backward[::-1])
    return final_str

In [31]:
def submit_data(xml_sub: bytes, _uuid: str, file_url_list: list) -> str:
    """
    Send the XML to kobo!
    """
    file_tuple = (_uuid, io.BytesIO(xml_sub))
    files = [('xml_submission_file', file_tuple)]
    for file_url in file_url_list:
        file_name = file_url.split('/')[-1]
        files.append((file_name, open(file_url, "rb")))
    res = requests.Request(
        method='POST', url=SUMISSION_URL, files=files, headers=HEADERS
    )
    session = requests.Session()
    res = session.send(res.prepare())
    return res.status_code

def format_openrosa_datetime() -> str:
    """
    This is required to get the correct datetime formatting
    """
    return datetime.now(tz=pytz.UTC).isoformat('T', 'milliseconds')

def update_element_value(e: ET.Element, name: str, value: str) -> None:
    """
    Get or create a node and give it a value
    """
    el = e.find(name)
    if el is None:
        el = ET.SubElement(e, name)
    el.text = value

def create_submissions(data: pd.DataFrame) -> list:
    """
    Take a bunch of submissions and send them off
    """
    all_subs = []
    parsed_xml = ET.fromstring(template)
    for i, row in data.iterrows():
        _now = format_openrosa_datetime()
        _uuid = str(uuid.uuid4())
        update_element_value(parsed_xml, 'meta/instanceID', f'uuid:{_uuid}')
        
        for item in data.columns:
            update_element_value(parsed_xml, item, row[item])
        
        # We have to update the instanceID, otherwise there'll be issues
        
        # Updating the `start` and `end` times is not really necessary, but 
        # probably something you'd want to do
        update_element_value(parsed_xml, 'start', _now)
        update_element_value(parsed_xml, 'end', _now)
        
        all_subs.append(submit_data(ET.tostring(parsed_xml), _uuid))
        
        # If you are submitting a large amount of data, please be mindful that it can
        # overwhelm the servers if sent in a short span of time. Letting it sleep for
        # for a short stint between each upload will be much appreciated
        sleep(0.2)
        
    return all_subs

In [32]:
def post_data(data_df, index):
    parsed_xml = template
    _now = format_openrosa_datetime()
    _uuid = str(uuid.uuid4())
    for col in data_df.columns:
        if col not in escape_columns:
            column = col
            value = data_df[col][index] if data_df[col][index] is not np.nan else ''
            if value != np.nan:
                if column.startswith('group'):
                    if type(value) == list:
                        itr = 0
                        for i in value:
                            element = ET.SubElement(parsed_xml, column)
                            if itr == 0:
                                itr = 1
                                for k, v in i.items():
                                    element_find = parsed_xml.findall(k)
                                    if len(element_find) == 0:
                                        key = k.split('/')
                                        n_key = '/'.join(key[1:])
                                        format_element = return_formated_xml(n_key, v)
                                        element.append(ET.fromstring(format_element))
                                    else:
                                        update_element_value(parsed_xml, k, str(v))
                            else:
                                for k, v in i.items():
                                    key = k.split('/')
                                    n_key = '/'.join(key[1:])
                                    format_element = return_formated_xml(n_key, v)
                                    element.append(ET.fromstring(format_element))
                    else:
                        find_element = parsed_xml.find(column)
                        if find_element != None:
                            update_element_value(parsed_xml, column, str(value))
                        else:
                            format_element = return_formated_xml(column, value)
                            parsed_xml.append(ET.fromstring(format_element))
                        
                else:
                    try:
                        find_element = parsed_xml.find(column)
                        if len(find_element) != None:
                            update_element_value(parsed_xml, column, str(value))
                        else:
                            format_element = return_formated_xml(column, value)
                            parsed_xml.append(ET.fromstring(format_element))
                    except:
                        ...
    update_element_value(parsed_xml, 'meta/instanceID', f'uuid:{_uuid}')
    update_element_value(parsed_xml, 'start', _now)
    update_element_value(parsed_xml, 'end', _now)
    attachments = [i['filename'] for i in data_df['_attachments'][index]]
    all_subs = submit_data(ET.tostring(parsed_xml), _uuid, attachments)
    sleep(1)
    return all_subs

In [33]:
submit_status = []

In [34]:
# for i in range(len(improved_palata_data_df)):
#     if i > 2438:
#         status = post_data(improved_palata_data_df, i)
#         submit_status.append({'index':i, 'status_code':status})
#         print({'index':i, 'status_code':status})

In [35]:
# submit_status_df = pd.DataFrame(submit_status)
# submit_status_df

In [36]:
# submit_status_df.to_csv('status8.csv')

In [ ]:
for i in range(len(improved_palata_data_df)):
#     if i > 2438:
#         status = post_data(improved_palata_data_df, i)
#         submit_status.append({'index':i, 'status_code':status})
#         print({'index':i, 'status_code':status})

In [37]:
# submit_status_df = pd.DataFrame(submit_status)
# submit_status_df

In [ ]:
# submit_status_df.to_csv('status8.csv')